<%= render 'static_pages/back_button' %>
<div class='a-container'>
  <div class='row'>
    <div class='add-container border border-secondary'>
      <h1>Edit Product</h1>
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
