<div class='back-button'>
  <%= link_to 'Back', :back, class: 'btn btn-info' %>
</div>
<div class='a-container'>
  <div class='row'>
    <div class='add-container border border-secondary'>
      <h1>New Product</h1>
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
